html,
body,
* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

.parent {
  font-size: 4rem;
  border: 1px solid black;
  text-align: center;
  size: 5rem;
  margin: 1rem auto;
  border-radius: 2rem;
  box-shadow: 10px 5px 5px gray;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  background-color: azure;
  width: auto;
  
}

img {
  width: 40rem ;
  height: 65rem ;
  border-radius: 2rem;
}
.cards a {
  background-color: black;
  color: aliceblue;
  font-size: 2rem;
}
h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem auto;
  background-color: black;
  color: aliceblue;
}
.animation{
  height: 2rem;
  width: 2rem;
  animation: circle 4s infinite;
  position: fixed;
  
}
@keyframes circle{
  0% {
    right: 5%;
    top: 5%;
    background-color: blueviolet;
  }
  25% {
    right: 10%;
    top: 5%;
    background-color: orange;
  }
  50% {
    right: 5%;
    top: 10%;
    background-color: orangered;
  }
  75% {
    right: 7.5%;
    top: 7.5%;
    background-color: aquamarine;
  }
  100% {
    right: 10%;
    top: 10%;
    background-color: green;
  }
}
#card1:hover { 
  background-color:#fcba03;
}
#card2:hover {
  background-color: #cc772d;
}
#card3:hover {
  background-color: #e3345a;
}
#card4:hover{
  background-color: #d62982;
}
#card5:hover {
  background-color: #5d00ff;
}
#card6:hover {
background-color:#21b2c2 ; 
}
#card7:hover{
  background-color:#42a16b ;
}
#card8:hover{
  background-color: #b55e24;
}
#card9:hover{
background-color: #c91616;
}
.parent {
  transition: all 0.3s;
}
.parent:hover {
  transform: scale(1.25);
  outline: 1rem black solid;
}
a:hover {
  background-color: #499a83;
  transition: 0.3s;
}
h2 {
  background-color: #17d7bd;
  border-radius: 2rem;
}
h2:hover {
  background-color: #8626b9;
  transition: background-color 0.5s;
  color: #F49000;
}
h1:hover {
  color: #E4F78C;
}
.cards:hover .parent:not(:hover) {
  transform: scale(0.9);
}
@media screen and (max-width: 1250px) {
  .cards  {
  background-color: #329dba ;
  margin: auto;
}

@media screen and (max-width: 880px) {
  .cards  {
    background-color: #2cb05f;
    margin: auto;
  }

  @media screen and (max-width: 600px) {
    .cards  {
      background-color: #bba2db ;
      margin: auto;
    }

