html,
body,
* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

.parent {
  font-size: 4rem;
  border: 1px solid black;
  text-align: center;
  size: 5rem;
  margin: 10rem;
  border-radius: 2rem;
  box-shadow: 10px 5px 5px gray;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.parent {
  transition: all 0.3s;
}
.parent:hover {
  transform: scale(1.25);
}

img {
  width: 40rem;
  height: 65rem;
  border-radius: 2rem;
}
.cards a {
  background-color: black;
  color: aliceblue;
  font-size: 2rem;
}
h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  background-color: black;
  color: aliceblue;
}
