html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

.parent {
  font-size: 3rem;
  border: 1px solid red;
  text-align: center;
  margin: 10%;
}

.things {
  display: flex;
  width: 30%;
  flex-direction: row;
}
.img {
  width: 500px;
}
